@import url('css/reset.css');
@import url('css/font.css');

:root {
  --background: #121212;
  --on-background: #eee;
  --primary: #1976d2;
  --on-primary: #e3f2fd;
  --complimentary: #d27619;
  --analog: #19d2d2;
  --analog-alt: #1919d2;
  --triadic: #7619d2;
  --triadic-alt: #d21976;
  --link: rgb(184 184 184);
  --width-outer: 1400px;
  --width-inner: 900px;
  --scale-multiplier: 0.75;
  --section-gap: 3rem;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  background-color: var(--background);
  color: var(--on-background);
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.65;
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, serif;
  line-height: 1.3;
  margin-block: 3rem 0.5rem;
}

h1 {
  font-size: calc(var(--scale-multiplier) * 6.25rem);
  font-weight: 300;
  letter-spacing: -1.5px;

  &.title {
    text-align: center;
  }
}

h2 {
  font-size: calc(var(--scale-multiplier) * 3.875rem);
  font-weight: 300;
  letter-spacing: -0.5px;
}

h3 {
  font-size: calc(var(--scale-multiplier) * 2.78rem);
  font-weight: normal;
  letter-spacing: 0;
}

h4 {
  font-size: calc(var(--scale-multiplier) * 1.95rem);
  font-weight: normal;
  letter-spacing: 0.25px;
}

h5 {
  font-size: calc(var(--scale-multiplier) * 1.4rem);
  font-weight: normal;
  letter-spacing: 0;
}

h6 {
  font-size: calc(var(--scale-multiplier) * 1.1675rem);
  font-weight: normal;
  letter-spacing: 0.15px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section {
  max-width: var(--width-inner);
  padding-inline: 2em;
}

p {
  margin-block-start: 1.5rem;
  max-width: 75ch;
}

li {
  margin-block-end: 0.75rem;
}

a:link,
a:visited {
  color: var(--on-background);
  text-decoration: none;
}

a:hover {
  border-block-end: 1px solid white;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;

  > ul.contact {
    display: flex;
    gap: 1em;
    list-style: none;
    margin-block: 2rem;
    padding: 0;

    > li {
      margin-block-end: 1rem;

      > a {
        border: 2px solid var(--primary);
        border-radius: 24px;
        display: flex;
        gap: 0.75rem;
        padding-block: 10px;
        padding-inline: 24px;

        > span {
          line-height: 24px;
        }

        &:link {
          color: var(--on-background);
        }

        &:hover {
          background-color: var(--primary);
        }
      }
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.nowrap {
  white-space: nowrap;
}

div.hero {
  align-items: center;
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: unset;
  padding: 0 1rem;
  width: 100%;

  p {
    font-family: Lora-Italic, serif;
    font-size: 22px;
    font-style: italic;
    margin-block-end: 1.5rem;
    text-align: center;
    text-wrap: balance;
  }
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;

  > ul.social {
    display: none;
    gap: 1em;
    justify-content: center;
    list-style: none;
    padding: 0;

    > li {
      background-color: #383838;
      border-radius: 0.2rem;
      overflow: hidden;
      padding-block: 0.25rem;
      padding-inline: 0.5rem;
      text-wrap: nowrap;

      > a:link {
        color: var(--on-background);
      }
    }
  }

  > p.copyright {
    font-size: 14px;
    margin-block-end: 1rem;
    text-align: center;
  }
}

section.experience {
  border-block-end: 1px solid var(--on-background);
  display: flex;
  gap: var(--section-gap);
  justify-content: center;
  max-width: var(--width-outer);
  padding-block-end: 3rem;

  > div.example {
    width: 60%;
  }

  > div.summary {
    width: 40%;

    > h2 {
      margin-block-start: 0;
    }

    > div.employer {
      > ul {
        margin-block-start: 1.5rem;
        padding-inline-start: 1rem;

        > li {
          margin-block-end: 1rem;
        }
      }
    }
  }

  &.alt {
    display: flex;
    flex-direction: row-reverse;
  }
}

img {
  border-radius: 1em;
}

@media screen and (width <=1400px) {
  section.experience {
    > div.example,
    > div.summary {
      width: 50%;
    }
  }
}

@media screen and (width <=768px) {
  :root {
    --scale-multiplier: 0.5;
  }

  img {
    border-radius: unset;
  }

  header {
    > ul.contact > li > a > span {
      &.label {
        display: none;
      }
    }
  }

  section.experience,
  section.experience.alt {
    display: flex;
    flex-direction: column;

    > div {
      &.summary,
      &.example {
        width: 100%;
      }
    }
  }
}

@media screen and (width <=480px) {
  img {
    border-radius: unset;
  }
}

@media print {
  @page {
    size: a4 portrait;
    margin-inline: 0.75in;
  }

  :root {
    --background: transparent;
    --on-background: black;
    --primary: transparent;
    --on-primary: black;
  }

  html,
  body {
    font-family: sans-serif;
    font-size: 11pt;
    overflow: hidden;
  }

  main,
  header,
  div.hero,
  section.experience {
    display: unset;
  }

  section.experience footer {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
    font-family: serif;
    font-size: unset;
    margin: unset;
    margin-block: 2em 0;
    padding: unset;
  }

  h1 {
    margin-block-start: 2em;
    font-family: unset;
    font-size: 18pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 14pt;
  }

  p {
    margin: unset;
    padding: unset;
  }

  div.hero {
    margin: unset;
    padding: unset;

    > p {
      margin-block: 0;
      margin-inline: unset;
      max-width: unset;
      padding-inline: unset;
      padding-block: 0;
      font-family: serif;
      font-size: 12pt;
      text-align: center;
    }
  }

  header {
    margin: unset;

    > ul.contact {
      display: flex;
      flex-wrap: wrap;
      font-size: 10pt;
      justify-content: center;
      gap: unset;
      margin: unset;
    }
  }

  section.experience,
  section.experience.alt {
    border: unset;
    display: unset;
    max-width: unset;
    margin: 0;
    padding-block-end: 0;
    width: unset;

    > div.example {
      display: none;
    }

    > div.summary {
      width: unset;

      > div.employer {
        > h3 {
          margin-block: 0.5em 0;
        }

        > ul {
          margin-block: 1em;

          > li {
            margin: 0;
          }
        }
      }
    }
  }
}
