@import url("font.css");

:root {
  --background: #121212;
  --on-background: #eee;
  --primary: #1976d2;
  --on-primary: #e3f2fd;
  --complimentary: #d27619;
  --analog: #19d2d2;
  --analog-alt: #1919d2;
  --triadic: #7619d2;
  --triadic-alt: #d21976;
  --link: rgb(184 184 184);
  --width-outer: 1400px;
  --width-inner: 900px;
  --scale-multiplier: .75;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  background-color: var(--background);
  color: var(--on-background);
  font-weight: normal;
  letter-spacing: 0.5;
  line-height: 1.65;
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, serif;
  line-height: 1;
  margin-block: 3rem 0.5rem;
}

h1 {
  font-size: calc(var(--scale-multiplier) * 6.25rem);
  font-weight: 700;
}

h1.title {
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

section {
  max-width: var(--width-inner);
  padding-inline: 2em;
}

p {
  max-width: 75ch;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

a:link,
a:visited {
  color: var(--on-background);
  text-decoration: none;
}

a:hover {
  border-block-end: 1px solid white;
}



ul.contact {
  display: flex;
  gap: 1em;
  list-style: none;
  margin-block: 2rem;
  padding: 0;

  > li {
    margin-block-end: 1rem;

    > a {
      border: 2px solid var(--primary);
      border-radius: 24px;
      display: flex;
      gap: .75rem;
      padding-block: 10px;
      padding-inline: 24px;

      > span {
        line-height: 24px;
      }

      &:link {
        color: var(--on-background);
      }

      &:hover {
        background-color: var(--primary);
      }
    }
  }
}

div.hero {
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  max-width: unset;
  padding: 0 1rem 1rem;
  width: 100%;

  p {
    font-family: Lora-Italic, serif;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    text-wrap: balance;
  }
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;

  > ul.social {
    display: none;
    gap: 1em;
    justify-content: center;
    list-style: none;
    padding: 0;

    > li {
      background-color: #383838;
      border-radius: 0.2rem;
      overflow: hidden;
      padding-block: 0.25rem;
      padding-inline: 0.5rem;
      text-wrap: nowrap;

      > a:link {
        color: var(--on-background);
      }
    }
  }

  > p.copyright {
    font-size: 14px;
    margin-block-end: 1rem;
    text-align: center;
  }
}

section.experience {
  border-block-end: 1px solid var(--on-background);
  display: flex;
  gap: 4rem;
  justify-content: center;
  max-width: var(--width-outer);
  padding-block-end: 3rem;

  > div.example {
    width: 60%;
  }

  > div.summary {
    width: 40%;

    > h2 {
      margin-block-start: 0;
    }

    > ul {
      padding-inline-start: 1rem;

      > li {
        margin-block-end: .5rem;
      }
    }
  }

  &.alt {
    display: flex;
    flex-direction: row-reverse;
  }
}

.nowrap {
  text-wrap: nowrap;
}

img {
  border-radius: 1em;
}

@media screen and (width <=1400px) {
  section.experience {
    > div.example,
    > div.summary {
      width: 50%;
    }
  }

  @media screen and (width <=768px) {
    :root {
      --scale-multiplier: .5;
    }

    img {
      border-radius: unset;
    }

    header {
      > ul.contact > li > a > span {
        &.label {
          display: none;
        }
      }
    }

    section.experience,
    section.experience.alt {
      display: flex;
      flex-direction: column;

      > div {
        &.summary,
        &.example {
          width: 100%;
        }
      }
    }
  }

  @media screen and (width <=480px) {
    body {
      font-family: monospace;
    }

    img {
      border-radius: unset;
    }
  }
}